<div class="wrapper fadeIn">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mt-2">
      <p class="logo size-logo text-primary"><span class="font-weight-bold"></span><span class="">Edit Playlist</span>
      </p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="name_playlist" formControlName="name_playlist" class="fadeIn second focus" placeholder="Name Playlist" required>
      <div *ngIf="name_playlist.invalid && (name_playlist.dirty || name_playlist.touched)" class="text-danger">
        <div *ngIf="name_playlist.errors.required">
          Name playlist is required.
        </div>
      </div>
      <div class="text-danger center" id="errorNamePlaylist" [attr.disabled]="!error">
        {{ error.name_playlist }}
      </div>
      <br />
      <button type="submit" class="fadeIn fourth bg-success" [disabled]="!form.valid"><span class="text-white">Accept</span></button>
    </form>
  </div>
</div>
