<div class="wrapper fadeIn">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mt-2">
      <p class="logo size-logo text-primary"><span class="font-weight-bold"></span><span class="">Video</span></p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="name_video" formControlName="name_video" class="fadeIn second focus" placeholder="Name video" required>
      <div *ngIf="name_video.invalid && (name_video.dirty || name_video.touched)" class="text-danger">
        <div *ngIf="name_video.errors.required">
        Name video is required.
        </div>
      </div>
      <input type="text" id="url" formControlName="url" class="fadeIn third" placeholder="Only iframe of youtube" required>
      <div *ngIf="url.invalid && (url.dirty || url.touched)" class="text-danger">
        <div *ngIf="url.errors.required">
        Url is required.
        </div>
      </div>
      <div class="text-danger center" id="errorUrl" [attr.disabled]="!error">
        {{ error.url }}
      </div>
      <select id="status" formControlName="status" class="fadeIn third" required>
        <option [ngValue]=null>Select status</option>
        <option [ngValue]=true>Activated</option>
        <option [ngValue]=false>Disabled</option>
      </select>
      <div *ngIf="status.invalid && (status.dirty || status.touched)" class="text-danger">
        <div *ngIf="status.errors.required">
        Status video is required.
        </div>
      </div>
      <br />
      <button type="submit" class="fadeIn fourth bg-success" [disabled]="!form.valid"><span class="text-white">Accept</span></button>
    </form>
  </div>
</div>
