<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
  <a class="navbar-brand logo size-logo text-primary" href="#">
    <span class="font-weight-bold">Youtube</span><span class="">Kids</span>
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="video" *ngIf="role && loggedIn">Videos <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="playlist" *ngIf="role && loggedIn">PlayLists<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="profile" *ngIf="role && loggedIn">Create profiles <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav" id="navbar-nav">
      <li>
        <a class="nav-link" routerLink="login" *ngIf="!loggedIn">Login</a>
      </li>
      <li>
        <a class="nav-link" routerLink="signup" *ngIf="!loggedIn">Sign Up</a>
      </li>
      <li>
        <a class="btn btn-danger text-white ml-3" routerLink="/profile/login" *ngIf="!loggedIn">Login Children</a>
      </li>
      <li id="navprofile" class="nav-item dropdown" *ngIf="loggedIn">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" (click)="toggleProfile()">
          <img src="/assets/img/profile.jpg" alt="profile.jpg" width="40px" class="rounded-circle">
        </a>
        <div id="navprofoptions" class="dropdown-menu" [ngClass]="{ show: navbarCollapsed }"
          aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="setting/setting-account" *ngIf="role && loggedIn">My account</a>
          <a class="dropdown-item" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
