<div class="wrapper fadeIn">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mt-2">
      <p class="logo size-logo text-primary"><span class="font-weight-bold"></span><span class="">Profile</span></p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="first_name" formControlName="first_name" class="fadeIn second focus" placeholder="First name" required>
      <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="text-danger">
        <div *ngIf="first_name.errors.required">
          First name is required.
        </div>
      </div>
      <input type="text" id="last_name" formControlName="last_name" class="fadeIn second focus" placeholder="Last name" required>
      <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="text-danger">
        <div *ngIf="last_name.errors.required">
          Last name is required.
        </div>
      </div>
      <input type="date" id="birthday" formControlName="birthday" class="fadeIn second focus" placeholder="Birthday" required>
      <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="text-danger">
        <div *ngIf="birthday.errors.required">
          Birthday is required.
        </div>
      </div>
      <input type="text" id="username" formControlName="username" class="fadeIn second focus" placeholder="Username" required>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
      </div>
      <div class="text-danger" id="errorUsername" [attr.disabled]="!error">
        {{ error.username }}
      </div>
      <input type="password" id="password" formControlName="password" class="fadeIn second focus" placeholder="Pin" required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <div *ngIf="password.errors.required">
          Pin is required.
        </div>
        <div *ngIf="password.errors.maxlength">
          Pin must be at 6 numbers long.
        </div>
        <div *ngIf="password.errors.pattern">
          Number only.
        </div>
      </div>
      <input type="password" id="password_confirmation" formControlName="password_confirmation" class="fadeIn second focus" placeholder="Pin confirmation"
        required>
      <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)"
        class="text-danger">
        <div *ngIf="password_confirmation.errors.required">
          Pin confirmation is required.
        </div>
        <div *ngIf="password_confirmation.errors.maxlength">
          Pin must be at 6 numbers long.
        </div>
        <div *ngIf="password_confirmation.errors.pattern">
          Number only.
        </div>
      </div>
      <div class="text-danger" *ngIf="!this.checkPasswords()">
        Pin do not match.
      </div>
      <br />
      <button type="submit" class="fadeIn fourth bg-success" [disabled]="!form.valid"><span
          class="text-white">Accept</span></button>
    </form>
  </div>
</div>
