<div class="wrapper fadeIn">
  <div class="col-lg-10 col-sm-12 col-xs-12">
    <a routerLink="playlist-create" class="btn btn-success mb-2 float-right">Add playlist</a>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2" *ngFor="let playlist of playlists;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ playlist.name_playlist }}</h5>
          <p class="card-text"></p>
          <div>
            <button [id]="playlist.id" class="mr-2 btn btn-success text-white" (click)="playlistAddVideos($event)"><i
              [id]="playlist.id" id  class="fas fa-folder-plus"></i></button>
            <button [id]="playlist.id" class="mr-2 btn btn-warning text-white" (click)="playlistEdit($event)"><i
              [id]="playlist.id" class="far fa-edit"></i></button>
            <button [id]="playlist.id" class="btn btn-danger text-white" (click)="playlistDelete($event)"><i
              [id]="playlist.id" class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
