<div class="wrapper fadeIn">
  <div class="col-12">
    <a routerLink="video-create" class="btn btn-success mb-2 float-right">Add video</a>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2" *ngFor="let video of videos;">
      <div class="card ">
        <iframe class="video-iframe" [src]="ngUrlSafe(video.video.url)" frameborder=" 0" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center">{{ video.video.name_video }}</h5>
          <ul style="list-style:none;">
            <span>
              Playlist:
            </span>
            <li *ngFor="let playlist of video.playlist;" >
              <span *ngIf="playlist.name_playlist != 'General'"><i class="fas fa-list"></i> {{ playlist.name_playlist }}</span><br>
            </li>
            <li>
              <span *ngIf="video.playlist.length === 1"><i class="fas fa-list"></i> No playlist has been assigned </span><br>
            </li>
          </ul>
          <div>
            <button [id]="video.video.id_video" class="mr-2 mt-2"
              [className]="video.video.status ? 'btn btn-success' : 'btn btn-danger'"
              (click)="videoChangeStatus($event)">{{ video.video.status ? 'Activated' : 'Disabled' }}</button>
            <button [id]="video.video.id_video" class="mr-2 mt-2 btn btn-warning text-white"
              (click)="videoEdit($event)">Update</button>
            <button [id]="video.video.id_video" class="mr-2 mt-2 btn btn-danger text-white"
              (click)="videoDelete($event)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
