<div class="wrapper fadeIn">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mt-2">
      <p class="logo size-logo text-primary"><span class="font-weight-bold">Edit </span><span class="">account</span>
      </p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" id="first_name" formControlName="first_name"  class="fadeIn third focus" placeholder="First name" value="{{ user.first_name }}" required>
          <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="text-danger">
            <div *ngIf="first_name.errors.required">
              First name is required.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="text" id="last_name" formControlName="last_name" class="fadeIn third focus" placeholder="Last name"
            required>
          <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="text-danger">
            <div *ngIf="last_name.errors.required">
              Last name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <select class="fadeIn third focus" formControlName="country" id="country" required>
            <option [ngValue]=null>Select country</option>
            <option *ngFor="let country of countries;" [ngValue]=country.name>{{ country.name }}</option>
          </select>
          <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
            <div *ngIf="country.errors.required">
              Country is required.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <select class="fadeIn third focus" formControlName="code_country" id="code_country" required>
            <option [ngValue]=null>Select code country</option>
            <option *ngFor="let country of countries;" [ngValue]=country.code>{{ country.name +' +' + country.code }}
            </option>
          </select>
          <small class="text-muted">{{ 'Current code +' + user.code_country }}</small>
          <div *ngIf="code_country.invalid && (code_country.dirty || code_country.touched)" class="text-danger">
            <div *ngIf="code_country.errors.required">
              Code country is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" id="cellphone" formControlName="cellphone" class="fadeIn third focus"
          placeholder="Cellphone number" required>
        <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)" class="text-danger">
          <div *ngIf="cellphone.errors.required">
            Cellphone is required.
          </div>
          <div *ngIf="cellphone.errors.pattern">
            Number only.
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="date" id="birthday" formControlName="birthday" class="fadeIn second focus" placeholder="Birthday"
          required>
        <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="text-danger">
          <div *ngIf="birthday.errors.required">
            Birthday is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="email" id="email" formControlName="email" class="fadeIn third focus" placeholder="Email" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
        </div>
        <div class="text-danger center" id="errorEmail" [attr.disabled]="!error">
          {{ error.email }}
        </div>
      </div>

      <button type="submit" class="fadeIn fourth bg-primary" [disabled]="!form.valid"><span
          class="text-white">Accept</span></button>

    </form>

  </div>
</div>
