<div class="wrapper fadeIn first">
  <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
    <a routerLink="profile-create" class="btn btn-success ml-2 float-right">Add profile</a>
    <a routerLink="profile-password-reset" class="btn btn-primary  float-right">Change password</a>
  </div>
  <div class="row">
    <div class="fadeIn first mb-2 pl-4" *ngFor="let profile of profiles;" style="width:150px;">
      <div style="width:140px;">
        <div class="contenedor">
          <img (mouseover)="showOptions($event)" (mouseout)="disabledOptions($event)" [id]="profile.id"
            [src]="'/assets/img/' + profile.image.name_img" [alt]="profile.image.name_img" width="135" height="132">
          <div (mouseover)="showOptions($event)" (mouseout)="disabledOptions($event)" [id]="'options'+profile.id"
            class="center-div">
            <button [id]="profile.id" class="boton float-right" (click)="profileEdit($event)" style="width: 70px;"><i
                class="fas fa-user-edit text-white"></i></button>
            <button [id]="profile.id" class="boton" (click)="profileDelete($event)" style="width: 70px;"><i
                class="far fa-trash-alt text-white"></i></button>
          </div>
        </div>
        <p class="text-center">
          {{ profile.first_name + ' ' + profile.last_name }}</p>
        <p class="text-center">{{ profile.username }}</p>
      </div>
    </div>
  </div>
</div>
