<div class="wrapper fadeIn">
  <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first mt-2">
          <p class="logo size-logo text-primary"><span class="font-weight-bold">Youtube</span><span
                  class="">Kids</span></p>
      </div>

      <!-- Login Form -->
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">
          <input type="email" id="email" class="fadeIn second focus" name="email" placeholder="Email"
              [(ngModel)]="form.email" required>
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password"
              [(ngModel)]="form.password" required>
              <div class="text-danger center" [hidden]="!error">
                {{ error }}
            </div>
          <button type="submit" class="fadeIn fourth bg-primary"><span class="text-white">Log In</span></button>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
          <a class="underlineHover" routerLink="/request-password-reset">Forgot Password?</a>
          <br>
          <span>- o -</span>
          <br>
          <span>You do not have an account? <a class="underlineHover" routerLink="/signup">Sign up here!</a></span>
      </div>

  </div>
</div>
