<div class="wrapper fadeIn">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mt-2">
      <p class="logo size-logo text-primary"><span class="font-weight-bold">Youtube</span><span class="">Kids</span></p>
    </div>

    <!-- Login Form -->
    <form #RequestResetForm=ngForm (ngSubmit)="onSubmit()">
      <input type="email" id="email" class="fadeIn second focus" name="email" placeholder="Email"
        [(ngModel)]="form.email" required>
        <br>
        <div class="text-danger center" id="errorEmail" [hidden]="!error">
          {{ error }}
      </div>
      <button type="submit" class="fadeIn fourth bg-primary" [disabled]="!RequestResetForm.valid">
        <span class="text-white" >Reset password</span>
      </button>
  </form>

  <!-- Remind Passowrd -->
  <div id="formFooter">
  </div>
</div>
